<mat-toolbar color="primary">
    <mat-toolbar-row>
        {{header}}
    </mat-toolbar-row>
</mat-toolbar>

<form class="soundInput" autocomplete="off">
    <mat-form-field class="soundInputBox">
        <input matInput [placeholder]="inputPlaceholder" [disabled]="!inVc" [(ngModel)]="sound" name="sound" autocomplete="off">
    </mat-form-field>
    <div *ngIf="!ytSearchEnabled">
        <button mat-raised-button color="primary" class="soundInputButton" [disabled]="!inVc" (click)="addToQueue()">Queue</button>
        <button mat-raised-button color="primary" class="soundInputButton" [disabled]="!inVc" (click)="queueNext()">Play Next</button>    
    </div>
    <div *ngIf="ytSearchEnabled">
        <button mat-raised-button color="primary" class="soundInputButton" [disabled]="!inVc || sound == ''" (click)="searchYt()">Search</button>    
    </div>
    <mat-slide-toggle color="primary" [(ngModel)]="ytSearchEnabled" (change)="updateYtSearch()" name="ytSwitch" class="listItemButton">
        YouTube Search
    </mat-slide-toggle>
</form>

<mat-list *ngIf="videos">
    <h3 mat-subheader>Results</h3>
    <mat-list-item *ngFor="let video of videos">
        <img mat-list-icon src="{{video.thumbnail}}" />
        <h4 mat-line>{{video.title}}</h4>
        <p mat-line>{{video.author}}</p>
        <button mat-raised-button color="primary" class="soundInputButton" (click)="addYtToQueue(video.url)">Queue</button>
        <button mat-raised-button color="primary" class="soundInputButton" (click)="queueYtNext(video.url)">Play Next</button>    
    </mat-list-item>
</mat-list>

<mat-list *ngIf="queue">
    <h3 mat-subheader>Queue</h3>
    <mat-list-item *ngIf="nowPlaying" class="listItem">
        <mat-icon mat-list-icon>play_arrow</mat-icon>
        <p class="listItemText">{{nowPlaying}}</p>
        <button mat-raised-button class="listItemButton" [color]="skipButtonColor" (click)="skipSoundVerify()">{{skipButtonText}}</button>
        <button mat-raised-button class="listItemButton" [color]="clearButtonColor" (click)="clearAll()">{{clearButtonText}}</button>
    </mat-list-item>
    <mat-list-item class="listItem" *ngFor="let name of queue; let i = index">
        <p class="listItemIndicator">{{i + 1}}</p>
        <p class="listItemText">{{name}}</p>
        <button class="listItemButton" matTooltip="Skip" matTooltipPosition="before"mat-icon-button>
            <mat-icon aria-label="Skip button" (click)="skipSound(i + 1)">close</mat-icon>
        </button>        
    </mat-list-item>
</mat-list>